[Unit]
Description=Gardena2InfluxDB
After=syslog.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/gardena2influxdb
ExecStart=/etc/gardena2influxdb/gardena2influxdb.py
SyslogIdentifier=gardena2influxdb
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
